<div class="modal-header">
    <button type="button" class="close" ng-click="CloseDialog()">&times;</button>
    <h4 class="modal-title">Add/Edit Role - {{Entity.Name}}</h4>
</div>
<div class="modal-body">
    <p>
        <div>
            Id: {{Entity.Id}}
            Name: {{Entity.Name}}
        </div>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="CloseDialog()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="DoneDialog()">Done</button>
</div>