<h1 class="page-header">Users</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <!-- TODO: hide if current user if has not rights -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in Users">
                <td ng-bind="user.Id"></td>
                <td ng-bind="user.UserName"></td>
                <td ng-bind="user.FirstName"></td>
                <td ng-bind="user.LastName"></td>
                <td ng-bind="user.Role"></td>
                <!-- TODO: hide if current user has not rights -->
                <td>
                    <a href="javascript://" ng-click="LogOut(user.Id)" ng-show="user.EnableLogOutAction" class="glyphicon glyphicon-log-out" data-toggle="tooltip" title="Log out (take effect in 1-2 min)"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>